@model IEnumerable<Entry>

<div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Balance</th>
                <td>@(ViewBag.User.Balance()?.ToString("C"))</td>
            </tr>
            <tr>
                <th>Spending for Month</th>
                <td>@(ViewBag.User.SpendingForMonth(DateTime.Now)?.ToString("C"))</td>
            </tr>
        </tbody>
    </table>
</div>