<div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Balance</th>
                <td></td>
            </tr>
            <tr>
                <th>Spending for Month</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>