<form action="/" method="get">
    <fieldset>
        <legend>Search Entries</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">User</label>
                    <input type="text" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Payee</label>
                    <input type="text" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Date From</label>
                    <input type="date" value="" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <input type="text" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Notes</label>
                    <input type="text" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Date To</label>
                    <input type="date" value="" class="form-control" />
                </div>
            </div>
        </div>
    </fieldset>
</form>