@model AllowanceTask

@{
    ViewData["Title"] = "Edit Task";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    @Html.Partial("_Form", Model)
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
